<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Album Reviewzi</title>
  </head>

  <body>
    <h1>Album Reviewzi</h1>
    <h2>Submit</h2>
    <ul>
      <li>To submit a review select <a href="/review">Review</a></li>
    </ul>
    <hr />
    <h2>Read Reviews</h2>
    <ul>
      <li>
        Select reviews based on rating <a href="/select">Select by Rating</a>
      </li>
      <li>To read all reviews <a href="/readReviews">Read All Reviews</a></li>
    </ul>
    <hr />
  </body>
</html>
