<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Album Reviewzi</title>
  <style>
    body {
      background-color: #333;
      color: gold;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    h1,
    h2 {
      text-decoration: underline;
      margin: 20px 0;
    }

    a {
      color: #DC143C;
    }
  </style>
</head>

<body>
  <h1>Album Reviewzi</h1>
  <h2>Submit</h2>
    To submit a review select <a href="/review">Review</a>
  <hr />
  <h2><ul>Read Reviews</ul></h2>
  <ul>
    Select reviews based on rating <a href="/select">Select by Rating</a><br>
    To read all reviews <a href="/readReviews">Read All Reviews</a>
  </ul>
  <hr />
</body>

</html>