<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Display Albums Better than or Equal to</title>
  <style>
    body {
      background-color: #333;
      color: gold;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    h1,
    h2 {
      text-decoration: underline;
      margin: 20px 0;
    }

    a {
      color: #DC143C;
    }

    table { 
      margin: 0 auto; 
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Display Albums Better than or Equal to</h1>
  <p>
  <table>
    <tr>
      <th>Album</th>
      <th>Artist</th>
      <th>Rating</th>
    </tr>
    <%- table %>
  </table>
  </p>
  <hr />
  <p><a href="./">HOME</a></p>
</body>

</html>