<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Review Data</title>
  </head>

  <body>
    <h1>Review Data</h1>
    <p>
      <strong>Album: </strong> <%- albumName %><br />
      <strong>Artist: </strong><%- artist %><br />
      <strong>Description: </strong> <%- description %><br />
      <strong>Rating: </strong><%- rating %><br />
    </p>
    <hr />
    <p><a href="./">HOME</a></p>
  </body>
</html>
