<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Review Data</title>
    <style>
      body {
        background-color: #333;
        color: gold;
        text-align: center;
        font-family: Arial, sans-serif;
      }

      h1,
      h2 {
        text-decoration: underline;
        margin: 20px 0;
      }

      a {
        color: #dc143c;
      }

      table {
        margin: 0 auto;
      }

      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Review Data</h1>
    <p>
      <strong>Album: </strong> <%- albumName %><br />
      <strong>Artist: </strong><%- artist %><br />
      <strong>Description: </strong> <%- description %><br />
      <strong>Rating: </strong><%- rating %><br />
    </p>
    <hr />
    <p><a href="./">HOME</a></p>
  </body>
</html>
