<!-- DO NOT MODIFY THIS FILE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Display Albums Better than or Equal to</title>
  </head>

  <body>
    <h1>Display Albums Better than or Equal to</h1>
    <form action="/select" method="post">
      <label>Rating: <input type="number" step="0.01" name="rating" /></label>
      <br /><br />
      <input type="submit" value="Submit Request" />
    </form>
    <hr />
    <p><a href="./">HOME</a></p>
  </body>
</html>
